POSTGRES_DB=secop_service_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=ecto://postgres:postgres@db/secop_service_db
SECRET_KEY_BASE=EXAMPLE_SECRETa1HcFgChxWpqluRF2I0ZE4idgnRlOPtbIdOwoNdR6pNWdUu3/pluNA6s/Kqw+CaW
TOKEN_SIGNING_SECRET=EXAMPLE_TOKEN_SIGNING_SECRET_CHANGE_ME
PORT=4001
# Data retention period in days - sec_nodes older than this will be deleted daily
DATA_RETENTION_DAYS=30
TRASH_RETENTION_DAYS=7
