@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/*div {
  border: 1px solid red !important;
}*/



  /* Invert color for dark mode */
  .dark #logo {
    filter: invert(1);
  }




@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-200%); }
}

.animate-marquee {
  animation: marquee 8s linear infinite;
}

.hover\:animation-pause:hover {
  animation-play-state: paused;
}

.command_item { 
  background-color:  rgb(212, 212, 216);
}

.dark .command_item { 
  background-color:  rgb(39, 39, 42);
}

.command_item[mod-highlight="error"] {
  background-color:  rgb(153,27,27);
  transition: background-color 0.2s;
}

.command_item[mod-highlight="done"] {
  background-color:  rgb(22,101,52);
  transition: background-color 0.2s;
}

.command_item[mod-highlight="running"] {
  background-color:  white;
  transition: background-color 0.2s;
}



.with-tooltip {
  position: relative;
}

.with-tooltip > [role="tooltip"] {
  display: none;
}

.with-tooltip:hover > [role="tooltip"],
.with-tooltip:focus > [role="tooltip"] {
  display: block;
  position: absolute;

}