@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/*div {
  border: 1px solid red !important;
}*/

/*div {
  border: 1px solid red !important;
}

  /* Invert color for dark mode */
  .dark #logo {
    filter: invert(1);
  }

/* Default (light mode) styles */
.exc-tick {
  stroke: grey;
}

.exc-tick text {
  fill: grey;
  stroke: none;
}

.exc-tick line {
  fill: grey;
  stroke: gray;
}

.exc-domain {
  stroke: rgb(207, 207, 207);
}

.exc-grid {
  stroke: lightgrey;
}

.exc-legend {
  stroke: black;
}

.exc-legend text {
  fill: grey;
  font-size: 0.6rem;
  stroke: none;
}

.exc-title {
  fill: darkslategray;
  font-size: 0.8rem;
  stroke: none;
}

.exc-subtitle {
  fill: darkgrey;
  font-size: 0.6rem;
  stroke: none;
}



/* Dark mode styles */
.dark .exc-tick {
  stroke: lightgray;
}

.dark .exc-tick line {
  fill: grey;
  stroke: gray;
}

.dark .exc-tick text {
  fill: lightgray;
}

.dark .exc-domain {
  stroke: rgb(100, 100, 100);
}

.dark .exc-grid {
  stroke: rgb(80, 80, 80);
}

.dark .exc-legend {
  stroke: gray;
}

.dark .exc-legend text {
  fill: lightgray;
}

.dark .exc-title {
  fill: white;
}

.dark .exc-subtitle {
  fill: lightgray;
}


/* GG Plot */

.gg-plot-background {
  fill: none;
}

.gg-panel-background {
  fill: white;
  color: gray;
}

.gg-text {font-family: Helvetica, Arial, sans-serif;}
.gg-legend-key {stroke-width: 0.5;stroke: #EEEEEE;fill: #EEEEEE;}
.gg-axis-text {font-size: 6px;fill: gray;} 
.gg-axis-ticks {stroke: gray;} 
.gg-axis-title {font-size: 8px;fill:gray;}
.gg-legend-text {font-size: 6px;fill: #000000;} 
.gg-legend-title {font-size: 8px;fill: #000000;} 
.gg-panel-border {stroke: darkgray} 
.gg-panel-grid {stroke: #EEEEEE;} 
.gg-panel-grid-major {stroke-width: 1;} 
.gg-panel-grid-minor {stroke-width: 0.5;} 
.gg-plot-title {font-size: 10px;}


.dark  .gg-text {font-family: Helvetica, Arial, sans-serif;}
.dark .gg-legend-key {stroke-width: 0.5;stroke: #EEEEEE;fill: #EEEEEE;}
.dark .gg-axis-text {font-size: 6px;fill: lightgray;} 
.dark .gg-axis-ticks {stroke: darkgray;} 
.dark .gg-axis-title {font-size: 8px;fill:lightgray;}
.dark .gg-legend-text {font-size: 6px; fill: white;} 
.dark .gg-legend-title {font-size: 8px;fill: white;} 
.dark .gg-panel-border {stroke: white} 
.dark .gg-panel-grid {stroke: darkgray;} 
.dark .gg-panel-grid-major {stroke-width: 1;} 
.dark .gg-panel-grid-minor {stroke-width: 0.5;} 
.dark .gg-plot-title {font-size: 10px;}
.dark .gg-plot-background {  fill: none;}
.dark .gg-panel-background {  fill: gray;  color: gray;}